<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/_css/style.css?v={{ data.buildRef }}" media="screen" type="text/css">

		<title>{{ basics.name }}{% if title %} | {{ title }}{% endif %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/_assets/_img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_assets/_img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_assets/_img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/_assets/_img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/_assets/_img/favicon/safari-pinned-tab.svg" color="#483ba4">
    <link rel="shortcut icon" href="/_assets/_img/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="{{ basics.name }}">
    <meta name="application-name" content="{{ basics.name }}">
    <meta name="msapplication-TileColor" content="#483ba4">
    <meta name="msapplication-config" content="/_assets/_img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:title" content="{{ basics.name }}">
    <meta property="og:description" content="{{ basics.description }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_GB">
    <meta property="og:image" content="/_assets/_img/kingdom-code-open-graph.jpg">
    <meta property="og:url" content="{{ basics.url }}">
  </head>

  <body>

    {% if nav %}
    <nav class="kc-nav">
      <ul class="container">
        <li><a href="/">Kingdom Code</a></li>
        <li><a href="/cities">Cities</a></li>
        <li><a href="/build">Build</a></li>
    </nav>
    {% endif %}

    {{ layoutContent | safe }}

    <div class="kc-newsletter">
      <section class="container" id="newsletter">
        <h2>Stay in touch</h2>
        <p>Sign up and receive all the latest news and meet up information from Kingdom Code{% if cityName %} and events in {{ cityName }}{% endif %}:</p>

        <form action="https://kingdomcode.us11.list-manage.com/subscribe/post?u=0faea843d029399bef7962992&amp;id=686a0f7b4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0faea843d029399bef7962992_686a0f7b4b" tabindex="-1" value=""></div>

          {# For chimp segmenting. Set in city frontmatter #}
          {% if chimpId %}
          <input type="hidden" name="group[19273][{{ chimpId }}]" value="{{ chimpId }}">
          {% endif %}
          {# end chimp segmenting #}

          <div class="kc-newsletter__group">
            <div class="kc-newsletter__field mc-field-group">
              <label for="mce-FNAME">First Name</label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME" placeholder="First name">
            </div>
            <div class="kc-newsletter__field mc-field-group">
              <label for="mce-LNAME">Last Name</label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME" placeholder="Family name">
            </div>
            <div class="kc-newsletter__field mc-field-group">
              <label for="mce-EMAIL">Email Address</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Primary email address">
            </div>
            <div class="kc-newsletter__field">
              <input type="submit" value="Subscribe!" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>

        </form>
        <!--End mc_embed_signup-->

      </section>
    </div>


    <footer class="kc-footer">
      <div class="container">
        <p>
          Kingdom Code communities currently gather in:
          {% for city in collections.cities | sort(false, false, 'cityName') %}
            <a href="{{ city.url }}">{{ city.data.cityName }}</a>

            {% if loop.last != true %} &middot; {% endif %}
          {% endfor %}
        </p>
        <p>
          This site is built on top of <a href="https://www.11ty.io" target="_blank" rel="noopener">Eleventy</a>
          &middot;
          <a href="https://github.com/kingdom-code/kingdom-code" target="_blank" rel="noopener">View source</a>
        </p>
        <p>
          Last updated: {{ data.updatedTime }}
        </p>
      </div>
    </footer>
    {% if basics.ga %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ basics.ga }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ basics.ga }}');
    </script>
    {% endif %}
    <script src="/_assets/_js/script.js?v={{ data.buildRef }}"></script>
  </body>
</html>
