---
layout: layouts/base.njk
---

<header class="kc-header">
  {% rwdImg "/_assets/img/blog/2019/kingdom-code-build-2019-hackathon.jpg", "" ,
  "100vw", "block h-full object-cover absolute w-full" %}

  <div class="kc-header__container">
    <div class="kc-header__container__logoGroup">
      <img
        src="/_assets/misc/logos/kingdom-code.svg"
        alt="Kingdom Code"
        class="kc-header__logo"
      />
      <hgroup>
        <h1>{{ basics.name }}</h1>
        <h2>{{ basics.tag }}</h2>
      </hgroup>
    </div>

    <div class="kc-header__ctas">
      {# <a href="/meetup">Meetups</a> #}
      <a href="/build/2025">Hackathon</a>
      <a class="js-moveto" href="#newsletter">Newsletter</a>
    </div>
  </div>
</header>

<main class="md:max-w-screen-lg mx-auto px-4 py-6">
  <p class="font-bold text-lg mb-4">
    When the love of Jesus and a passion for tech collide, exciting things
    happen. Things that may just impact the Kingdom, things like Kingdom Code!
  </p>
  <p>
    Kingdom Code is a community of people who love Jesus and love tech. We’re
    creatives, developers, designers, entrepreneurs, ideators and innovators. We
    gather often to encourage, inspire and spark serendipity. So, whether you
    crunch data, grapple with code, place every pixel or love casting vision,
    there’s a place for you to come, learn, grow, make friends, network and have
    fun.
  </p>
</main>

<section class="md:container mx-auto px-4 md:px-0">
  {{ content | safe }}
</section>
