---
nav: true;
layout: layouts/base.njk
---
<div class="container">

  <article class="text-blue">

    <div class="prose prose-figcaption:text-xs mx-auto">
      <h1 class="text-3xl md:text-4xl font-bold mb-2 md:mt-2 md:mb-4 text-blue" itemprop="name">{{ title | orphanWrap | safe }}</h1>
      {{ layoutContent | safe }}
    </div>

    {% include "blocks/projectList.njk" %}

    <div class="py-4">
      {% include "blocks/build.njk" %}
    </div>

  </article>

</div>
