---
nav: true;
layout: layouts/base.njk
---

<header class="relative text-white">
  {% rwdImg "/_assets/img/build/23/banner.jpg", "" , "100vw", "block h-full
  object-cover absolute w-full" %}

  <div
    class="relative w-full text-center flex items-center justify-center flex-col bg-blue-500/60"
  >
    <div class="sm:flex items-center gap-4 md:gap-8 my-4 md:my-8">
      <img
        src="/_assets/misc/build22.svg"
        style=""
        alt="Kingdom Code BUILD"
        class="kc-header__logo p-4 mx-auto w-[75%] md:w-[90%] max-w-[350px]"
      />
      <div class="sm:text-left">
        <hgroup class="px-4">
          <h1 class="font-bold text-5xl">Kingdom Code BUILD</h1>
          <h2 class="mt-2 text-2xl">
            Project: {{ title | orphanWrap | safe }}
          </h2>
        </hgroup>

        <div class="px-4">
          <a
            href="/build/{{year}}/#projects"
            class="my-4 inline-block border bg-orange border-orange rounded p-2 uppercase text-white hover:bg-transparent transition-colors"
          >
            Back to all {{ year }} projects
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <article class="text-blue">
    <div class="prose prose-figcaption:text-xs mx-auto">
      <hgroup class="mt-8">
        {% if title != org %}
        <p class="text-sm m-0 font-bold text-blue">{{ org }}:</p>
        {% endif %}
        <h1
          class="text-3xl md:text-4xl font-bold mb-2 md:mt-2 md:mb-4 text-blue"
          itemprop="name"
        >
          {{ title | orphanWrap | safe }}
        </h1>
      </hgroup>

      {{ content | safe }} {% if url %}
      <p>
        Find out more at
        <a href="{{ url }}" target="_blank" rel="noopener"
          >{{ url | replace("https://", "") }}</a
        >
      </p>
      {% endif %}
    </div>
  </article>
</div>

{% include "blocks/projectList.njk" %}

<div class="container mb-4">{% include "blocks/build.njk" %}</div>
