.heading {
  text-transform: uppercase;
  font-size: 34px;
  color: white;
  letter-spacing: 2px;
  
  &--green {
    color: $colorGreen;
  }

  &--blue {
    color: $colorBlue;
  }

  &--orange {
    color: $colorOrange;
  }

  &--centered {
    text-align: center;
  }
}

.kc-blog {

  &__header {
    text-align: center;
  }

  &__body {
    margin: 0 auto;
    max-width: 720px;
  }
}
