.imagetext {
  width: 100%;

  p {
    margin: 10px 0;
  }

  @include bpMinXSmall() {
    display: grid;
    grid-template-rows: minmax(350px, 1fr);
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  &--orange {
    background-color: $colorOrange;
    color: white;

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        border-bottom-color: $colorBlue;
      }
    }
  }

  &--blue {
    background-color: $colorBlue;
    color: white;

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        border-bottom-color: $colorOrange;
      }
    }
  }

  // BUILD FaithTech
  &--yellow {
    background-color: #FFD700;
    color: black;

    a {
      color: black;
      border-bottom: 1px solid black;

      &:hover {
        // border-bottom-color: $colorOrange;
      }
    }
  }

  &__img {
    position: relative;
    align-self: stretch;
    background-position: center center;
    background-size: cover;
    height: 200px;

    @include bpMinXSmall() {
      height: auto;
    }

    img {
      display: block;
      height: 100%;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }

    +.imagetext__text {
      justify-self: left;
    }
  }

  &__text {
    padding: 20px;

    @include bpMinXSmall() {
      max-width: 490px;
    }

    p:first-child {
      font-weight: bold;
    }

    justify-self: right;
    width: 100%;


  }
}
