.img {

  img {
    max-width: 100%;
  }

  &--pull-left {
    max-width: 33%;
    // margin-left: -15%;
    margin-right: 1rem;
    float: left;

    // @include bpMinMedium() {
    //   max-width: 380px;
    //   margin-left: -190px;
    // }
  }

  &--pull-right {
    max-width: 33%;
    // margin-right: -15%;
    margin-left: 1rem;
    float: right;

    // @include bpMinMedium() {
    //   max-width: 380px;
    //   margin-right: -190px;
    // }
  }

  &--full-width {
    max-width: 100%;

    @include bpMinMedium() {
      max-width: calc(100% + 100px);
      margin: 0 -50px;
    }
  }
}
