.kc-nav {
  background-color: $colorBlue;
  color: white;
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  ul {
    padding: 10px 10px 10px 0;
    list-style-type: none;
    margin: 0;
  }

  li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  a {
    font-weight: bold;
    margin-right: 25px;
    color: white;
    border: none;
    transition: color 0.2s;

    &:hover {
      color: $colorGreen;
    }
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
      margin-right: 0;
    }

    @media (min-width: 675px) {
      width: auto;
      display: block;

      a {
        margin-right: 25px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 0;

    @media (min-width: 675px) {
      padding: 0 50px;
    }
  }

  .social-icon {
    height: 14px;
  }
}
