<section class="py-4 bg-blue text-white md:py-16">
  <div class="container">
    <h2 class="text-center text-2xl font-bold">
      In the past we've worked with digital teams at
    </h2>

    <ul class="grid gap-4 grid-cols-2 sm:grid-cols-4 md:gap-8 lg:grid-cols-8 text-sm text-center my-4">
      {% for partner in buildPartners | randomiseArray %}
        {% if loop.index0 < 8 %}
        <li>
          <img src="/_assets/misc/logos/{{ partner.logo }}" class="block max-h-[50px] md:max-h-[75px] mx-auto" alt="{{ partner.name }}" />
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  <div>
</section>
