<section class="promo promo--build">

  <a class="promo__content" href="/build">

    <img class="promo__content__logo" src="/_assets/misc/build.svg" />

    <date class="font-bold mb-4">
       14 – 15 October 2022
    </date>

    <p>
      Kingdom Code BUILD brings together Christians in the world of tech from across Europe to practically explore our how faith in Jesus connects with our technical skills.
    </p>

    <p class="mt-4">
      <span class="promo__content__button">
        Find out more
      </span>
    </p>
  </a>
</section>
