<section class="promo promo--build">

  {% rwdImg "/_assets/img/build/build21-team.jpg", "" , "100vw", "block h-full object-cover absolute w-full rounded z-[-1]" %}

  <a class="promo__content" href="/build/2024">

    <img class="promo__content__logo mb-4 max-w-[150px]" src="/_assets/misc/build22.svg" />

    <date class="font-bold mb-4">
      11 – 12 October 2024
    </date>

    <p>
      Kingdom Code BUILD brings together Christians in the world of tech from across Europe to practically explore our how faith in Jesus connects with our technical skills.
    </p>

    <p class="mt-4">
      <span class="promo__content__button">
        Find out more
      </span>
    </p>

  </a>
</section>
