<div class="kc-events" id="meetups">

  <section itemscope itemtype="http://schema.org/Event" class="kc-events__future kc-event">

    <h2 class="kc-event__type">Upcoming Events</h2>

    <ul class="kc-events-list">
    {% set count = 0 %}
    {% for event in collections.meetups | futureMeetups %}
      <li itemscope itemtype="http://schema.org/Event">

        <p class="text-xs uppercase mb-0">
          {{ event.data.city }}:
        </p>

        <h3 itemprop="name" class="text-lg font-bold">
          {{ event.data.title }}
        </h3>

        <date itemprop="startDate" content="{{ event.data.date }}" class="kc-event__date">
          {{ event.data.date | readableDate }}
        </date>

        <p itemprop="description" class="py-2">
          {{ event.data.intro }}
        </p>

        {% if event.data.canonical %}
          <a href="{{ event.data.canonical }}" class="inline-block border bg-orange border-orange rounded p-2 uppercase text-white hover:bg-transparent transition-colors">
            Find out more
          </a>
        {% else %}

          {% if (event.url) and (event.url != 'postponed') %}
            <a href="{{ event.url }}" itemprop="url" class="inline-block border bg-orange border-orange rounded p-2 uppercase text-white hover:bg-transparent transition-colors">
              Register
            </a>
          {% elif (event.url) and (event.url == 'postponed') %}
            <span class="inline-block border bg-orange border-orange rounded p-2 uppercase text-white hover:bg-transparent transition-colors">
              Postponed
            </span>
          {% else %}
            <p class="kc-event__description">
              Save the date
            </p>
          {% endif %}

        {% endif %}
      </li>
      {% set count = count + 1 %}
    {% endfor %}

    {% if count == 0 %}
      <li>
        <h3>No upcoming events yet…</h3>
        <p>Sign up to the <a href="#newsletter" class="js-moveto">newsletter</a> to hear about future events when they are announced.</p>
      </li>
    {% endif %}

    </ul>
  </section>

  <section class="kc-event">

    <h2 class="kc-event__type">Previous events</h2>

    <ul class="kc-events-list">
    {% set count = 0 %}
    {% for event in collections.meetups | pastEvent | reverse %}
      {% if count < 3 %}
        <li itemscope itemtype="http://schema.org/Event">

          <p class="text-xs uppercase mb-0">
            {{ event.data.city }}
          </p>

          <h3 itemprop="name" class="text-lg">
            {{ event.data.title }}
          </h3>

          <date itemprop="startDate" content="{{ event.data.date }}" class="kc-event__date">
            {{ event.data.date | readableDate }}
          </date>

          {% if event.data.canonical %}
            <a href="{{ event.data.canonical }}" target="_blank" itemprop="url" class="inline-block underline pb-2">
          {% else %}
            <a href="{{ event.url }}" target="_blank" itemprop="url" class="inline-block underline pb-2">
          {% endif %}
              See more
            </a>
        </li>
        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}

    </ul>

  </section>

</div>
