{% if logobar_logos %}
<section class="logobar">
  <div class="container">
    <h1 class="logobar__title">{% if logobar_title %}{{ logobar_title }}{% else %}Sponsors{% endif %}</h1>
    <ul>
      {% for logo in logobar_logos %}
      <li>
        <a href="{{ logo.org.url }}">
          <img src="/_assets/misc/logos/{{ logo.org.img }}" alt="{{ logo.org.name }}" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}
