<div class="kc-people">

  <section>
    <h3>City team</h3>

    <ul>
    {% for person in people | sort(false, false, 'name') %}

      {% if cityName in person.team %}
        <li>{{person.name}}</li>
      {% endif %}

    {% endfor %}
    </ul>

    <p>Want to get invovled? <a href="https://www.twitter.com/kcodeuk/" target="_blank">Let us know</a>.</p>
  </section>

</div>
