<div class="kc-people">

  <section>
    <h3>City team</h3>

    <ul class="peopleList">
    {% for person in people | sort(false, false, 'name') %}

      {% if cityName in person.team %}
        <li class="peopleList__person">
          {% set avatar = person.img if person.img else 'no-avatar.jpg' %}
          {% rwdImg "/_assets/img/people/" + avatar, person.name , "50px", "peopleList__person__img" %}
          <p>{{ person.name }}</p>
        </li>
      {% endif %}

    {% endfor %}
    </ul>

    <p>Want to get involved? <a href="https://www.twitter.com/kcodeuk/" target="_blank">Let us know</a>.</p>
  </section>

</div>
