{% set projectList = collections.projects|buildProjects(year) %}

{% if projectList|length > 0 %}

<section class="py-4 text-blue md:py-16">
  <div class="container">
    <h3 class="text-orange font-bold uppercase mb-0 text-center">All BUILD {{ year }} projects…</h3>
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-4 my-4 md:mb-16">

      {% for project in projectList %}
        <a href="{{ project.url }}" class="block border border-orange p-4 bg-white hover:scale-105 transition">
          <h3 class="font-bold text-orange border-b border-orange mb-4">
            {% if project.data.org != project.data.title %}<span class="block text-xs">{{ project.data.org }}:</span>{% endif %}
            {{ project.data.title }}
          </h3>
          <p class="text-sm">{{ project.data.summary }}</p>
          <ul class="mt-2">
          {% for skill in project.data.skills %}
            <li class="inline-block text-xs bg-orange text-white rounded px-1">{{ skill }}</li>
          {% endfor %}
        </ul>
        </a>
      {% endfor %}
    </div>
  </div>
</section>

{% endif %}
