---
layout: layouts/base.njk
nav: true
title: Meetups
eleventyExcludeFromCollections: true
section: meetup
---

<div class="md:container mx-auto px-4 md:px-0 md:grid md:grid-cols-3 md:gap-8">

  <div class="md:max-w-screen-md pb-2 mb:pb-4 border-b border-grey md:border-b-0">
    <div class="top-0 sticky pt-2 md:pt-4">
      <h1 class="text-xs">Meetups</h1>
      <p class="text-4xl md:text-2xl lg:text-3xl font-bold mb-2 md:mb-4">Join us in-person, and offline.</p>
      <p><a href="/" class="text-orange underline hover:text-mint">Kingdom Code</a> is a group for Christians working in technology; we want to explore how our Christian faith shapes the way we build digital tools.</p>

      <ul class="flex gap-3 mt-2 md:mt-4">
      {% for key, social in basics.socials %}
        <li class="inline">
          <a class="text-blue hover:text-mint" href="{{ social }}" target="_blank" rel="noopener">
            {% svgSprite class="inline h-4 w-4", name=key %}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>

  <div class="divide-y divide-grey text-blue md:col-span-2 md:mt-0">
  {% for post in collections.meetups | futureMeetups %}

    <a href="{{ post.data.canonical if post.data.canonical else post.url }}" class="block group pt-4 mb-4">
      <span class="text-xs block"><date>{{ post.data.date | readableDate }}</date> - {{ post.data.city }}</span>
      <h2 class="text-orange text-2xl font-bold group-hover:text-mint hover:underline">{{ post.data.title }}</h2>
      {% if post.data.intro %}
      <p class="mx-0 my-2 text-blue">{{ post.data.intro }}</p>
      {% endif %}

      <span class="underline group-hover:text-mint hover:underline">More infomation…</span>
    </a>
  {% else %}
    <p>Sorry, there are no future listed events</p>
  {% endfor %}
  </div>

</div>
