---
layout: layouts/base.njk
nav: true
title: Meetups
eleventyExcludeFromCollections: true
section: meetup
---

<section class="imagetext imagetext--yellow" id="about">
  <div class="imagetext__text py-16">
    <p>
      We're looking forward to the FaithTech movement starting regular meetups
      in
      <a href="https://www.faithtech.com/communities/london" target="_blank"
        >London</a
      >
      and
      <a href="https://www.faithtech.com/communities/sheffield" target="_blank"
        >Sheffield</a
      >.
    </p>
    <p>
      <a href="https://faithtech.com/" class="" target="_blank"
        >Find out more about FaithTech</a
      >
    </p>
  </div>

  <div class="imagetext__img">
    {% rwdImg "/_assets/img/build/24/presentation.jpg", "" , "(min-width: 640px)
    50vw, 100vw", "imagetext__img" %}
  </div>
</section>
