---
nav: true
layout: layouts/base.njk
---

<section class="container">
<img src="/_assets/_img/build.svg" alt="" style="margin: 50px 0 20px; max-width: 300px" />
<h1>Kingdom Code BUILD</h1>
<p>BUILD is the annual Kingdom Code hackathon bringing together Christians who work in the world of tech from across Europe.</p>
<p>Join us, Friday 11 – Saturday 12 October 2019 as we practically explore how faith and technology combine.</p>
<p>Registration is not open yet, but sign up to the mailing list to be the first to hear.</p>
</section>
