---
layout: layouts/base.njk
nav: true
---


<section class="py-4 md:py-16">
    <div class="container">
      <h2 class="text-center text-2xl font-bold">Get in touch with Kingdom Code</h2>

      <ul class="grid gap-4 grid-cols-2 my-4 md:my-16">
        <li class="bg-white border border-orange text-blue p-4">
          <h3 class="font-bold">Got a quick question?</h3>
          <p class="text-sm sm:text-base">Ping us on twitter @kcodeuk; we'll give you a quick answer!</p>
        </li>

        <li class="bg-white border border-orange text-blue p-4">
          <h3 class="font-bold">Bigger question</h3>
          <p class="text-sm sm:text-base">You can email us at info [at] kingdomcode.org.uk.</p>
          <p class="text-sm">Please be aware that Kingdom Code is run by volunteers so answers may not be prompt.</p>
        </li>

      </ul>

    </div>
  </section>
