---
layout: layouts/base.njk
---

<div class="kc-events">

  <section itemscope itemtype="http://schema.org/Event" class="kc-events__future kc-event">

    <h2 class="kc-event__type">
    {% if events[0].date | isFutureDate %}
      Upcoming event
    {% else %}
      Latest event
    {% endif %}
    </h2>

    <p class="kc-event__city">
      {{ events[0].city }}
    </p>

    <h3 itemprop="name" class="kc-event__event-title">
      {{ events[0].name }}
    </h3>

    <date itemprop="startDate" content="{{ events[0].date }}" class="kc-event__date">
      {{ events[0].date | readableDate }}
    </date>

    <p itemprop="description" class="kc-event__description">
      {{ events[0].description }}
    </p>
    
    {% if events[0].url %}
      <a href="{{ events[0].url }}" target="_blank" rel="noopener" itemprop="url" class="kc-events__future__btn">
      {% if events[0].date | isFutureDate %}
        Find out more
      {% else %}
        See more
      {% endif %}
    {% endif %}
    </a>
  </section>

  <section class="kc-event">

    <h2 class="kc-event__type">Previous events</h2>

    <ul class="kc-events-list">
    {% set len = events.length %} 
    {% for i in range(1, len) %}
      <li itemscope itemtype="http://schema.org/Event">

        <p class="kc-event__city">
          {{ events[i].city }}
        </p>

        <h3 itemprop="name" class="kc-event__event-title">
          {{ events[i].name }}
        </h3>

        <date itemprop="startDate" content="{{ events[i].date }}" class="kc-event__date">
          {{ events[i].date | readableDate }}
        </date>
        
        {% if events[i].url %}
          <a href="{{ events[i].url }}"  target="_blank" rel="noopener" itemprop="url">See more</a>
        {% endif %}
      </li>
    {% endfor %}
      
    </ul>

  </section>

</div>

