---
layout: layouts/home.njk
nav: true
---

{#<section class="promo" style="background-image: url('/_assets/img/blog/2020/build-2016.jpg');">

  <a class="promo__content" href="/build">

    <p class="promo__content__tag">Friday 15th – Saturday 16th October 2021</p>
    <h2 class="promo__content__title">Kingdom Code BUILD</h2>

    <p>
      <strong>Back for 2021!</strong>
      Join Christians in the world of technology and innovation to support and serve ministries with digital projects.
    </p>

    <p>
      <span class="promo__content__button">
        Find out more
      </span>
    </p>
  </a>
</section>#}

{% set post = collections.posts|reverse|first %}

<section class="promo promo--flipped" style="background-image: url({{ post.data.hero_img }});">

  <a class="promo__content" href="{{ post.url }}">

    <p class="promo__content__tag">Latest blog post</p>
    <h2 class="promo__content__title">{{ post.data.title }}</h2>

    {% if post.data.intro %}
      <p>{{ post.data.intro }}</p>
    {% endif %}

    <p>
      <span class="promo__content__button">
        Keep reading…
      </span>
    </p>
  </a>
</section>


{#% include "blocks/events.njk" %#}
