---
layout: layouts/base.njk
nav: true
title: Jobs Board
---
<div class="container">

  <div class="rounded-lg bg-orange text-white p-4 my-4">
    <div class="md:max-w-screen-md">
      <h1 class="text-4xl font-bold mb-4">Jobs Board</h1>
      <p class="mb-4">These jobs are posted on behalf of Christian ministries, or from people within Kingdom Code community - they are not directly affiliated with Kingdom Code.</p>
      <p>If you have questions regarding these roles please get in touch with the organsiations directly.</p>
    </div>
  </div>

  <div class="px-4 divide-y divide-grey mx-auto md:w-10/12 text-blue">

    {% if jobs.length %}
      {% for job in jobs %}
      <div class="py-6">

        <div class="grid gap-4 sm:grid-cols-3">
          <div class="my-0 sm:col-span-2">
            <a class="block mb-2 text-mint" href="{{ job.URL }}" target="_blank" data-gtm="jobs">
              <strong class="block text-xl">{{ job.Title }}</strong>
              <strong class="block uppercase text-xs">{{ job.Organisation}}</strong>
            </a>
            <p>{{ job.Intro }}</p>
            <a class="block mt-2 underline hover:text-mint" href="{{ job.URL }}" target="_blank">Find out more…</a>
          </div>
          <div class="grid grid-cols-3 gap-2 sm:flex flex-col justify-center sm:gap-4 sm:pl-4">
            <p class="text-xs"><strong>Location:</strong><br />{{ job.Location }}</p>
            <p class="text-xs"><strong>Type:</strong><br />{{ job.Type }}</p>
            <p class="text-xs "><strong>Closing Date:</strong><br /><date>{{ job.ClosingDate | readableDate }}</date></p>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>
        <strong>Sorry</strong>, there are no jobs currently listed.
      </p>
    {% endif %}

    <div class="py-6">
      <p>Do you have a job to post? <a class="underline hover:text-mint" href="https://airtable.com/shrkjfNK3JGzzya1S" target="_blank">Submit one now</a>.</p>
    </div>
  </div>
</div>
